
body{
    background-color: #000;
    font-family: monospace, verdana;
    margin: 0;
    display: grid;
    padding: 0%;
    color: #ffffff;
    overflow-x: hidden;
}

header{
    border: 0px;
    padding: 20px;
    background-color: black;
    display: inline-flex ;
    justify-content: space-between;
}


nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: grid;
    place-items: center;
}

nav ul {
    display: grid;
    place-items: center;
    width: 100%;
}
nav ul li {
    display: inline-block;
}
.nav-link {
    font-family: monospace;
    color: #474646;
    font-size: 20px;
    margin: 0 15px;
}

#intro {
    display: grid;
    place-items: center;
    height: calc(100vh);
    background-image: url(bgs/main_bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#maintext {
    margin-top: 40px;
    color: #ff3300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1{
    font-size: 50px !important;
}

h2, p, ul{
    margin: 0;
}

#about, #services, #affiliates, #puzzle{
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #000;
    color: #ffffff;
}

.servlist{
    padding: 0;
    border: 0;
    margin: 0;
}

#puzzle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* This is for Chrome, Safari and Opera */
::-webkit-scrollbar {
    width: 12px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
    background: #000; /* Change the track (background) color */
}

::-webkit-scrollbar-thumb {
    background:#ff3300; /* Change the thumb (scroll handle) color */
}
